html{
    background-color: black;
    text-align: center;
}
body{
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:whitesmoke;
    margin:auto;
    width:80%;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 90px;
}

h1{
  display: inline-block;
  margin-left: 30px;
}
h1 a{
    color:white;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 40px;
}
nav ul{
    margin-right: 30px;
}
nav ul li{
    list-style: none;
    display:inline-block;
    /*padding-left: 10px;*/
    padding:3px;
 
}
nav ul li a{
    color:white;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    padding:2px;
    font-size: 30px;
    border: solid 1px white;
    border-radius: 10px;
    box-shadow: 0px 5px 4px rgba(230, 230, 230, 0.5);
    
}
nav ul li a:hover{
    background-color: white;
    color: black;
}
nav ul li a:active{
    box-shadow: inset 0px 2px 4px rgba(255, 255, 255, 0.15);
    transition: 0.2s;
    transform: translateY(2px);
    
}
main{
    
    margin:30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.about{
    padding-left: 30px;
    width:60%;
    text-align: left;
}
.about h2{
    color: white;
    font-size: 35px;
    text-decoration: underline;
}
.about p{
    word-spacing: 2px;
    line-height: 25px;
    font-size: 26px;
}
.imag{
    width: 400px;
    height: 500px;
    margin:20px;
    overflow: hidden;
    
    
}
.imag img{
    border: 1px solid white;
    width: auto;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.projects h2{
    font-size: 35px;
}
.projects a{
    font-size: 40px;
}
.projects ul{
    text-align: left;
}
.projects img{
    width: 600px;
    height: auto;
}
.projects ul li{
    list-style:square;
    text-align: left;
}
#pam,#tea,#cards{
    display:none
}
.skills{
    width: 100%;
    text-align: center;
}
.skills h2{
    font-size: 35px;
}
.scontainer{
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}
.scontainer img{
    padding: 10px;
    width: 80px;
    height: auto;
}
footer{
    font-size: 25px;
}